@import url('http://fonts.cdnfonts.com/css/nexa-bold');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: 'Nexa', sans-serif;
  font-weight: bolder;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #636363;
}

html::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 4px;
}

.max-width {
  max-width: 1300px;
  padding: 15px 0;
  margin: auto;
}

section {
  padding: 100px 0;
}

section .title {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}

section .title::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 150px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  font-weight: 700;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  background: #f3f3f3;
  color: #15b0de;
  padding: 5px;
  transform: translateX(-50%);
}

.grid {
  display: grid;
  gap: 2rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.divider {
  height: 1.1px;
  background: linear-gradient(270deg, #6effff, #44a9bb);
}

.divider-1 {
  height: 1.1px;
  background: linear-gradient(270deg, #008299, #006577);
}

/* -- HEADER NAV  -- */

.section header {
  margin-bottom: 4rem;
}

#header {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #f3f3f3;
}

/* -- NAVBAR -- */

nav {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
  width: 100%;
}

nav .menu ul {
  display: flex;
  gap: 2rem;
}

nav .menu {
  margin-top: 20px;
  text-transform: uppercase;
}

nav.container {
  margin-right: 40px;
}

nav .menu ul a.title {
  -webkit-font-smoothing: antisalised;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  position: relative;
  transition: color 0.1s;
  color: #00a0db;
}

nav ul li a:hover,
nav ul li a:active {
  color: #15b0de;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #15b0de;

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav.container .logo img {
  height: 5rem;
  margin-left: -250px;
}

/* -- HOME inicio -- */
.home {
  display: flex;
  background-image: url(assets/img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-height: 500px;
  color: #fff;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content {
  line-height: 60px;
}

.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #00a0db;
}

.btn {
  color: #15b0de !important;
  margin-top: 20px;
  border: 1px solid #15b0de !important;
  width: 15rem;
  height: 3rem;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn:hover {
  background-color: #15b0de !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

/* -- Service -- */

.service {
  background-color: #f3f3f3;
}
.service .title::after {
  content: 'prestados';
}

.button {
  width: 200px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.icon {
  display: inline-block;
  background-color: #15b0de;
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
  font-size: 30px;
  margin-bottom: 30px;
}

.button-service {
  text-align: center;
  padding: 20px;
}

.subtitle-services {
  color: #111;
  font-size: 20px;
}

/* -- Service -- */

.partners {
  background-color: #f3f3f3;
}

.partners .title::after {
  content: 'confira';
}

.partners .title::after {
  background: #f3f3f3;
}

#partners .container {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  overflow: hidden;
}

#partners img {
  margin-top: 50px;
  width: 10rem;
  height: 10rem;
  margin-right: 0.5rem;
}

.swiper {
  width: 98vw;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

/* -- INSTAGRAM -- */

.instagram .title::after {
  content: 'siga-nos';
}

/* -- localização -- */

.localizacao .title::after {
  content: 'confira';
}

/* -- Footer -- */

footer {
  height: 25rem;
  background-color: #15b0de;
  margin-bottom: 0;
  display: flex;
}

footer img {
  width: 10rem;
  margin-top: 50px;
}

footer .address {
  margin-top: 20px;
}

footer .container {
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}

.footer-copyright {
  background-color: #15b0de;
  display: flex;
  justify-content: center;
}

.footer-copyright p {
  margin-top: 15px;
}
